<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h1 id="register">HBS (Register) - NodeJS and MySQL</h1>
    <form action="/register" method="POST">
        <div>
            <label>Book </label>
            <input type="text">
        </div>
        <div>
            <label>Date </label>
            <input type="text">
        </div>
        <div style="text-align: right;">
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>