div {
	border: solid 1px silver;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

#styleOne {
    background-color: rgb(225, 225, 125, 0.4);
}

#styleTwo {
    background-color: rgb(125, 225, 225, 0.4);
}

#styleThree {
	background-color: rgba(225, 125, 225, 0.4);
}

#styleFour {
	background-color: rgba(125, 125, 225, 0.4);
}